*{
    margin: 0;
    padding: 0;
    font-family: "Gilroy";
    box-sizing: border-box;
}
html,body{
    height:100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
.nav{
    height:100px;
    width: 100%;
    padding: 4vw 5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid #8888;
    transform: translateZ(-50% -50%);
}
.logo{
    padding: 1vw;
    font-size: 1.5vw;
    font-weight: 900;
}

.centnav{
    font-weight: 900;
    font-size: 2vw;
    display: flex;
    align-items: center;
    gap: 3vw;
}
.rnav button{
    font-weight: 500;
    border: none;
    align-items: center;
    font-size:1vw;
    padding:1vw;
    color: #f86011;
    background-color: #f3793736;
    border-radius: 10px;

}
.Home{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.hom1{

    height: 100%;
    width: 50%;
    margin-top: 8vw;
    padding-bottom: 3vh;
}
.hom2{
    margin-top: 8vw;
    padding-top: 3vw;
    padding-left:2vw;
    height: 100%;
    width: 50%;
    align-items: center;

}
.hom2 img{
      height: 50%;
      width: 95%;
      margin-top: 40px;
}
.hom1 h1{
    padding:2vw 6vw 0 10vw;
    font-size:3.5vw;
    font-weight: 400;
}
.hom1 p{
    padding: 3vw 10vw;
    font-size:2vw;
}
.rnav button:hover{
    color: white;
    font-weight: 500;
    border-radius: 10px;
    background-color: rgb(253, 128, 11);

}
.hom1 button{
    margin-left:  10vw;
    font-size: 1.5vw;
    padding: 1vw;
    border-radius: 10px;
    border: none;
    align-items: center;
    background-color: rgb(253, 128, 11);
}

#Home-part2{
    height: 100%;
    width: 100%;
    background-color: #fdddbe58;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hip1{
    height: 50%;
    width: 50%;
}
.hip1 img{
    height: 100%;
    width: 100%;
    padding:0 100px;
}


.hip2{
    height: 100%;
    width: 50%;
    margin-top: 22%;
}
.hip2 h1{
    height: 7%;
    width: 100%;
    padding: 20px 6vw 0 6vw;
    font-size: 30px;
    font-weight: 900;
    align-items: center;

}
.hip2 h2{
    height: 7%;
    width: 100%;
    padding: 20px 5vw;
    font-size: 30px;
    font-weight: 500;

}
.hip2 h4{
    height: 10%;
    width: 100%;
    line-height: 2.2vw;
    padding: 20px 250px 0 0;
    font-size: 20px;
    font-weight: 100;
}
.rinput{
    
    height: 100px;
    width: 100%;
    margin-top: 6%;
    flex-direction: column;

}
.rinput input{
    position: relative;
    height: 50px;
    width: 65%;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid#8888;
    margin-top: 15px;
}
.hip2 button{
    height: 50px;
    width: 100px;
    color: white;
    padding: 5px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-top:10%;

}
.Home-part3{
    height: 90%;
    width: 100%;
}
.Home-part3 h1{
    height: 10%;
    align-items: center;
    justify-content: center;
    padding-left: 40%;
    font-size: 3vw;
    padding-top: 15px;
}
.part{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.partA{
    height: 100%;
    width: 40%;

}
.partA h2{
    margin-top: 25%;
    padding-left: 25%;
    font-size: 2vw;
    align-items: center;
    justify-content: center

}
.partA h3{
    padding-top: 20px;
    padding-right: 20%;
    padding-left: 25%;
    font-size: 1.4vw;
    font-weight: 100;
    line-height: 2.3vw;
    align-items: center;
    justify-content: center
}
.buton{
    height: 50px;
    width: 100px;
    color: white;
    background-color: #f86011;
    border: none;
    margin-left: 25%;
    margin-top: 2vw;
    border-radius: 15px;
}
.buton button{
    
    height: 50px;
    width: 170px;
    color: white;
    background-color: #f86011;
    border: none;
    border-radius: 1px;
    padding: 10px;
    font-size: 20px;
    font-weight: 900;

}

.partB{
    position: relative;
    height: 100%;
    width: 60%;     
}
.imagee img{ 
    height: 550px;
    width: 750px;
    padding-left:3px;
    padding-top: 11vw;
    border-radius: 15px;
    object-fit: cover;
    
}
/* #Home-part4{
    height: 100%;
    width: 100%;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;

}
.part4-2{
    height: 100%;
    width: 40%;
    background-color: violet;
    align-items: center;
    justify-content: center;

}
.part4-1{
    height: 100%;
    width: 60%;
    padding: 9vw 3vw 10vw 8vw;
    background-color:yellowgreen;
    align-items: center;
    justify-content: center; 
}

.part4-1 img{
    height: 100%;
    width: 100%;
    border-bottom: 4px solid #dadada;
    border-right: 4px solid #dadada;
    


} */
*{
    margin: 0;
    padding: 0;
    font-family: "Gilroy";
    box-sizing: border-box;
}
html,body{
    height:100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
.nav{
    height:100px;
    width: 100%;
    padding: 4vw 5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid #8888;
    transform: translateZ(-50% -50%);
}
.logo{
    padding: 1vw;
    font-size: 1.5vw;
    font-weight: 900;
}

.centnav{
    font-weight: 900;
    font-size: 2vw;
    display: flex;
    align-items: center;
    gap: 3vw;
}
.rnav button{
    font-weight: 500;
    border: none;
    align-items: center;
    font-size:1vw;
    padding:1vw;
    color: #f86011;
    background-color: #f3793736;
    border-radius: 10px;

}
.Home{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.hom1{

    height: 100%;
    width: 50%;
    margin-top: 8vw;
    padding-bottom: 3vh;
}
.hom2{
    margin-top: 8vw;
    padding-top: 3vw;
    padding-left:2vw;
    height: 100%;
    width: 50%;
    align-items: center;

}
.hom2 img{
      height: 50%;
      width: 95%;
      margin-top: 40px;
}
.hom1 h1{
    padding:2vw 6vw 0 10vw;
    font-size:3.5vw;
    font-weight: 400;
}
.hom1 p{
    padding: 3vw 10vw;
    font-size:2vw;
}
.rnav button:hover{
    color: white;
    font-weight: 500;
    border-radius: 10px;
    background-color: rgb(253, 128, 11);

}
.hom1 button{
    margin-left:  10vw;
    font-size: 1.5vw;
    padding: 1vw;
    border-radius: 10px;
    border: none;
    align-items: center;
    background-color: rgb(253, 128, 11);
}

#Home-part2{
    height: 100%;
    width: 100%;
    background-color: #fdddbe58;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hip1{
    height: 50%;
    width: 50%;
}
.hip1 img{
    height: 100%;
    width: 100%;
    padding:0 100px;
}


.hip2{
    height: 100%;
    width: 50%;
    margin-top: 22%;
}
.hip2 h1{
    height: 7%;
    width: 100%;
    padding: 20px 6vw 0 6vw;
    font-size: 30px;
    font-weight: 900;
    align-items: center;

}
.hip2 h2{
    height: 7%;
    width: 100%;
    padding: 20px 5vw;
    font-size: 30px;
    font-weight: 500;

}
.hip2 h4{
    height: 10%;
    width: 100%;
    line-height: 2.2vw;
    padding: 20px 250px 0 0;
    font-size: 20px;
    font-weight: 100;
}
.rinput{
    
    height: 100px;
    width: 100%;
    margin-top: 6%;
    flex-direction: column;

}
.rinput input{
    position: relative;
    height: 50px;
    width: 65%;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid#8888;
    margin-top: 15px;
}
.hip2 button{
    height: 50px;
    width: 100px;
    color: white;
    padding: 5px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-top:10%;

}
.Home-part3{
    height: 90%;
    width: 100%;
}
.Home-part3 h1{
    height: 10%;
    align-items: center;
    justify-content: center;
    padding-left: 40%;
    font-size: 3vw;
    padding-top: 15px;
}
.part{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.partA{
    height: 100%;
    width: 40%;

}
.partA h2{
    margin-top: 25%;
    padding-left: 25%;
    font-size: 2vw;
    align-items: center;
    justify-content: center

}
.partA h3{
    padding-top: 20px;
    padding-right: 20%;
    padding-left: 25%;
    font-size: 1.4vw;
    font-weight: 100;
    line-height: 2.3vw;
    align-items: center;
    justify-content: center
}
.buton{
    height: 50px;
    width: 100px;
    color: white;
    background-color: #f86011;
    border: none;
    margin-left: 25%;
    margin-top: 2vw;
    border-radius: 15px;
}
.buton button{
    
    height: 50px;
    width: 170px;
    color: white;
    background-color: #f86011;
    border: none;
    border-radius: 1px;
    padding: 10px;
    font-size: 20px;
    font-weight: 900;

}

.partB{
    position: relative;
    height: 100%;
    width: 60%;     
}
.imagee img{ 
    height: 550px;
    width: 750px;
    padding-left:3px;
    padding-top: 11vw;
    border-radius: 15px;
    object-fit: cover;
    
}
